.howto-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  margin-top: 127.69px;
}
.howto-section-text {
  display: flex;
  flex-direction: column;
  //width: 570px;
  //height: 476px;
  text-align: center;
  .title {
    display: flex;
    justify-content: flex-start;
    font-family: 'Rubik', sans-serif;
    color: #EE4D47;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
  }
}
.howto-section-image {
  display: flex;
  position: relative;
  justify-content: flex-start;
  width: 720.52px;
  height:679.88px;
  //margin-right: 184.2px;
  //left: 840.69px;
  //top: 1290px;
  animation: move1 3s linear;
}
@keyframes move1 {
  100% {
    opacity: 1;
    transform: translate(50px,0px);
  }
  0% {
    transform: translate(-150px,0px);
    opacity: 0;
  }
}
.primary-section-text {
  display: flex;
  color: #402B2B;
  //justify-content: flex-start;
  text-align: left;
  margin-top: 40px;
  margin-bottom: 70px;
  width: 470px;
  height: 156px;
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  font-style: normal;
}
@media (max-width: 800px) {
  .howto-section{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 200px;
    flex-direction: column;
    overflow-x: unset;
  }
}
