.header-container {
  display: flex;
  flex-direction: column;
}
.navbar-items {
  display: flex;
}
.background-img {
  display: flex;
  justify-content: center;
  max-width: 1285px;
  max-height: 951px;
}
.main-container {
  display: flex;
  justify-content: flex-start;
}
.logo-img {
  display: flex;
  justify-content: flex-start;
  max-width: 212px;
  max-height: 50px;
  transform: translate(-517%, 100%);
}
.truck-img {
  display: flex;
  max-width: 811px;
  max-height: 395.46px;
  transform: translate(-25%, -33%);
}
.header-text {
  height: 300px;
  width: 741px;
  color: white;
  font-family: DM Serif Display;
  font-size: 100px;
  transform: translate(-180%, 50%);
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: left;
}

