root {
  width: 1600px;
  height: 5382px;
}
html {
  display: flex;
  width: 1600px;
  height: 5382px;
  background-color: #E5E5E5;
  position: relative;
}
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  background-color: #E5E5E5;
  overflow-y: scroll;
  /*top: -512px;*/
  /*left: 9712px;*/
}
* {
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {

}
